---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8"; //
/** Font **/

@font-face {
  font-family: "Merriweather";
  src: url("/css/fonts/Merriweather-Black.ttf");
}

@font-face {
  font-family: "Merriweather-Light";
  src: url("/css/fonts/Merriweather-Light.ttf");
}
//
//
// // Our variables
//font: 13px/1.4 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
$base-font-family: 'PingFang SC', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: rgb(27, 27, 27);
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/*
 * variables
 */
// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
"header",
"post",
"page",
"rouge/github.scss",
"index",
"demo",
"footer",
"scrollbar",
"backToTop",
"searchBox";

h1 {
  font-weight: 400;
  font-size: 2em;
  margin: 1em 0 ;
}

h2 {
  font-size: 1.125em;
  padding-bottom: .2em;
  border-bottom: 1px solid #eee;
  margin: 2em 0 1.8em;
}
h3 {
  font-size: 1.05em;
  margin: 1.5em 0;
}
h4, h5, h6 {
  font-size: 1em;
  margin: 1em 0;
}
table {
  word-break: break-all; // 强制英文换行，防止移动端超出范围
}
// 两个人在列车上相遇
// 一段旅程充满了诗意
// 你突然说你要下车
// 去寻找属于你的灵魂和身体
//
// 当你穷的只剩下理想时
// 就再次回到这列车上
// 我们谈天说地
// 把酒言欢，赠予你新路途纹银
