.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  // margin-top: 50px;
  background-color: #f7f7f7;
  color: #f8f8f2;
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    p {
      color: #999999;
      margin: 0;
      line-height: 1.6;
    }
    .contact {
      display: inline-block;
      a {
        color: rgba(69, 157, 245, 0.9);
        transition: 0.3s ease;
        &:hover {
          color: #ffff06;
        }
        i {
          margin: 0 5px;
          font-size: 20px;
        }
      }
    }
    .description {
      display: inline-block;
    }
    .power {
      a {
        color: rgba(69, 157, 245, 0.9);
        transition: 0.3s ease;
        &:hover {
          color: #4d6dad;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .site-footer {
    .wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 770px) {
  .site-footer {
    .wrapper {
      width: 90%;
    }
  }
}
