.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.page {
  width: 1140px;
  box-sizing: border-box;
  margin: 0 auto; // word-break: break-all;
  .left {
    width: 75%;
    float: left;
    padding: 20px 30px;
    line-height: 29px;
    font-family: Merriweather-Light,
    -apple-system,
    Verdana,
    "PingFang SC",
    "Helvetica Neue",
    Arial,
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
    .postImg {
      margin-bottom: 16px;
      min-height: 260px;
      border-radius: 5px;
      background-position: 50% 50%;
      background-size: cover;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
      box-shadow: 0 1px 4px rgba(0, 0, 0, .04)
    }
    >h1 {
      margin-bottom: -10px;
    }
    a:not([title]) {
      word-break: break-all;
    }
    >ul {
      >h2 {
        margin-left: -40px;
        color: #6a6b6b;
      }
      li {
        h2 {
          font-size: 1.5em;
          font-weight: 400;
        }
        line-height: 1.8;
        color: #888888;
        time {
          display: inline-block;
        }
        .title {
          font-weight: bold;
          color: #223253;
          transition: 0.3s ease;
          &:hover {
            color: #4d6dad;
          }
        }
        .excerpt {
          .postImg {
            margin-bottom: 16px;
            min-height: 260px;
            border-radius: 5px;
            background-position: 50% 50%;
            background-size: cover;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .04)
          }
        }
        .label {
          font-size: 12px;
        }
        i {
          margin-right: 5px;
        }
        .categories {
          padding: 0 15px;
          i {
            color: #9e9d9d;
          }
          a {
            padding: 0 5px;
            background-color: #9e9d9d;
            color: #fff;
            border-radius: 4px;
            font-size: 90%;
            transition: 0.3s ease;
            &:hover {
              background-color: #b6b6b9;
            }
          }
        }
        .pageTag {
          i {
            color: #c6cbe9;
          }
          a {
            // border: 1px solid #aaa;
            padding: 0 5px;
            background-color: #c6cbe9;
            border-radius: 4px;
            color: #fff;
            font-size: 90%;
            transition: 0.3s ease;
            &:hover {
              background-color: #c0ddc7;
            }
          }
        }
      }
    }
  }
  .anchor {
    display: none;
  }
  .right {
    float: left;
    width: 25%;
    position: fixed;
    right: 2.5%;
    padding-left: 20px;
    min-width: 250px;
    .fixed {
      position: fixed;
      top: 20px;
    }
    .scroll-bottom {
      position: absolute;
      bottom: 190px;
    }
    .side {
      background-color: white;
      box-sizing: border-box;
      padding-bottom: 1px;
      -ms-word-break: break-all;
      word-break: break-all;
      position: relative;
      /* Non standard for webkit */
      // word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      >div {
        padding: 2px 5px 2px 10px;
        color: #999999;
        font-size: 14px;
        margin-top: 10px;
      }
      .title {
        padding: 2px 5px 2px 10px;
        color: #272822;
        border-left: 5px solid #999;
        font-size: 14px;
        margin-top: 10px;
      }
      a {
        color: #272822;
        font-size: 13px;
        &:hover {
          color: #4183c4;
          background: none;
        }
      }
      .menuWrapper {
        z-index: 1;
        position: absolute;
        top: 40px;
        bottom: 25px;
        width: 2px;
        padding: 0;
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
        border-top: 0;
        border-bottom: 0;
        left: 19px;
      }
    }
    .content-ul {
      position: relative;
      z-index: 2;
      overflow-y: auto;
      padding-right: 10px;
      line-height: 1.8;
      padding-left: 13px;
      background: none;
      li {
        font-weight: normal;
        list-style: none;
        &.current {
          
          background: url(../images/menu-li-active-bg.png) left 5px no-repeat;
          color: rgba(69, 157, 245, 0.9);
          >a {
            color: white;
            background-color: rgba(69, 157, 245, 0.9);
          }
        }
        a {
          transition: none;
          color: #555;
          border-radius: 4px;
          padding: 3px;
        }
      }
      >li {
        font-weight: bold;
        padding-left: 30px;
        background: url(../images/menu-li-bg.png) 4px 5px no-repeat;
        >ul {
          padding-left: 0;
          margin-left: -30px;
          >li {
            padding-left: 50px;
            background: url(../images/menu-li-bg2.png) 4px 5px no-repeat;
            >ul {
              padding-left: 0;
              margin-left: -50px;
              >li{
                padding-left: 70px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .page {
    width: 90%;
    .right {
      .side {}
    }
  }
}

@media screen and (min-width: 770px) {}

@media screen and (max-width: 770px) {
  .page {
    width: 95%;
    .left {
      width: 100%;
      float: left;
      padding: 10px 14px;
      font-size: 14px;
      .postImg {
        min-height: 160px;
      }
      >h1 {
        font-size: 25px;
        margin-bottom: -10px;
      }
      >ul {
        padding-left: 20px;
        >h2 {
          font-size: 20px; // margin: 0;
          margin-left: -20px;
        }
        li {
          margin: 20px 0;
          time {
            display: block;
            width: auto;
          }
          .title {
            display: block;
            font-size: 16px;
          }
          .categories {
            font-size: 12px;
            padding-left: 0;
            padding-right: 10px;
          }
        }
      }
    }
    .anchor {
      z-index: 1;
      text-align: center;
      border: 1px solid rgba(69, 157, 245, .9);
      display: block;
      visibility: visible;
      position: fixed;
      right: 2.5%;
      bottom: 75px;
      width: 36px;
      height: 33px;
      line-height: 33px;
      color: #fff;
      font-size: 15px;
      border-radius: .2rem;
      background-color: rgba(69, 157, 245, .9);
      transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
      i {
        margin: 0 auto;
      }
    }
    .anchor-hide {
      opacity: 0;
      visibility: hidden;
    }
    .right {
      visibility: hidden; // display: none;
      position: fixed; // z-index: 190;
      float: none;
      max-width: 95%;
      padding: 0;
      bottom: 114px;
      right: 2.5%;
      opacity: 0;
      .wrap {
        width: 100%;
        .side {
          background: none;
          width: 100%;
          >div {
            color: white;
            border-color: rgba(255, 255, 255, 0.25);
          }
          li {
            color: white;
            margin: 4px 0;
            font-size: 1rem;
            a {
              color: white;
            }
          }
        }
      }
    }
    .right-show {
      z-index: 999;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      .title {
        display: none;
      }
      .content-ul {
        position: fixed;
        border-radius: 6px;
        right: 2.5%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
        >li:last-of-type {
          margin-bottom: 16px;
        }
      }
    }
  }
}